/* ESTILO GENERAL DEL QLineEdit */
QLineEdit
{
    background-color: white;      /* Fondo */
    color: black;                 /* Color texto */
    border: 2px solid #3498db;    /* Borde */
    border-radius: 6px;           /* Bordes redondeados */
    padding: 6px;                 /* Espaciado interno */
    selection-background-color: #3498db; /* Color seleccion */
    selection-color: white;              /* Texto seleccionado */
}

QLineEdit:hover   /* AL PASAR EL MOUSE */
{
    border: 2px solid #5dade2;
}

QLineEdit:focus   /* CUANDO TIENE FOCO */
{
    border: 2px solid orange;
    background-color: #fcf3cf;
}

QLineEdit:disabled    /* DESHABILITADO */
{
    background-color: #ecf0f1;
    color: #7f8c8d;
    border: 2px solid #bdc3c7;
}

QLineEdit:read-only    /* SOLO LECTURA */
{
    background-color: #f4f6f7;
    color: #2c3e50;
    border: 2px dashed #95a5a6;
}